html, body {
    height: 100%;
    background-color: #e6e6e6;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#root {
    background-color: #fff;
    max-width: 1100px;
    margin: 90px auto 0;
    border-radius: 4px;
    min-height: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}